* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* cabeçalho */
.letrasSite{
     font-size: 40px;
     font-family: Arial, Helvetica, sans-serif;
     color: #4b260b     
}
.letrasSite a{
     text-decoration: none;
     color: #4b260b     
}


 .letraNavegador{
color: #4b260b
} 

header {
     background-color: aqua;
     height: 15vh;
     /* width: 99vw; */
     position: sticky;
     top: 0px;
     /* position: relative;   */
     text-align: center;   
     /* justify-content: 20px; */
     display: flex;
     align-items: center;
     justify-content: space-between;
     min-height: fit-content;    
}
#navegador-topo{
font-size: 15px;
font-weight: bold;
height: 5vh;
color: #4b260b;


/* position: absolute; */
right: 0;
display: flexbox;
flex-direction: row;
gap: 10px;
margin-right: 10px;
}
#idLogo{
     /* display: block; */
     /* position: absolute; */
     left: 0;
     height: 15vh; 
     min-height: 100px;
     align-self: flex-start;
     box-shadow: 5px 5px #4b260b;
     
}
/* parte central */
#idFotoPrincipal{
     width: 90vw; 
     height: 60vh; 
     
     object-fit: fill;
}

nav{
     height: 40vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     color: #4b260b
}

/* rodape */
footer{
     background-color: aqua;
     height: 30vh; 
     /* width: 99vw;  */
}
#AreaRedesociais {
     text-align: center;
     color: #4b260b
} 
.redesSociais{
     margin: 25px 25px 25px 25px;
     height: 55px;
     width: 55px;
} 
#autoria{
     background-color: gray;
}


/* Comportamento site */
html {
     scroll-behavior: smooth;
   }

/* formulario */
#idFormulario{
     display: grid;
     grid-template-columns: 1fr 1fr;
     width: 100vw;
     height: 80vh;    
     justify-items: center;
     margin-top: 20px;
}
.letrasFormulario{
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     color: #4b260b     
}
h3{
     text-align: center;
}



